<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="margin:0;padding:0;background:#f4f6f8;font-family:Arial;">

<table width="100%" cellpadding="20">
    <tr>
        <td align="center">
            <table width="600" style="background:#fff;padding:30px;border-radius:10px;">
                <tr>
                    <td align="center">
                        <img th:src="${logoUrl}" width="80"/>
                        <h2>Reset Your Password 🔐</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Hello <b th:text="${name}"></b>,</p>
                        <p>We received a request to reset your password.</p>
                        <p>Click below to continue:</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding:20px;">
                        <a th:href="${resetLink}"
                           style="background:#e67e22;color:white;padding:12px 25px;
                            text-decoration:none;border-radius:5px;">
                            Reset Password
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>If you didn’t request this, ignore this email.</p>
                        <p style="color:red;">This link expires in 15 minutes.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>